<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Bauprojekt gestartet!</title>
        <style>
            .body {
                background-color: #f6f6f6;
                width: 100%;
            }
        </style>
    </head>

    <body>
        <h1>Projekt "{{ title }}" gestartet</h1>
        <p>Sie sind als Gewerk in das Projekt "{{ title }}" eingebunden.</p>
        <p>Ihr Einsatz ist im Zeitraum vom {{ start }} bis {{ end }} angesetzt.</p>
        <br/>
        <p>
            In der angelegten Übersicht können Sie die Details zu Ihrer Projektteilnahme bestätigen oder bearbeiten<br/>
            <a href="{{ baseUrl }}/gewerk?token={{ token }}">Dashboard</a>
        </p>
    </body>
</html>
